<div class="input-group mb-3" id="search">
  <input type="text" class="form-control form-control-lg" placeholder="Filmin adını yazın" aria-label="Filmin adını yazın"
    aria-describedby="basic-addon2"  (keyup.enter)="GetMovies(f.value)" #f>
  <div class="input-group-append">
    <button class="btn btn-primary" type="button">Yeni film ara</button>
  </div>
</div>

<div id="search-result">
  <h2 class="display-4"> ilgili filmler</h2>
  <hr>
  <div class="row">
    <div class="col-2 movie-item" *ngFor="let movie of movies">
      <div class="poster">
        <img src="{{movie.Poster}}" alt="{{movie.Title}}">
      </div>
      <h6 class="title">{{movie.Title}}</h6>
      <input type="hidden" value="{{movie.imdbID}}" #movieId>
      <input type="hidden" value="{{movie.Title}}" #movieTitle>
      <input type="hidden" value="{{movie.Poster}}" #moviePoster>
      <button type="button" class="button" (click)="viewDetail(movieId.value)">View</button>
      <button (click)="AddMovie(movieId, movieTitle, moviePoster)">Add My Movies</button>
    </div>
  </div>
</div>

<div class="movie-detail">
  <h1 class="movie-name">{{movieDetails.title}}</h1>
  <h6 class="movie-short">{{movieDetails.actors}}</h6>
  <p class="year">{{movieDetails.awards}}</p>
  <p class="country">{{movieDetails.country}}</p>
</div>